@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
body {
    background-image: url(bckg.png);
}
/* INTRODUÇÃO e SUB. */
#logomarca {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 56px;
    margin-top: -10px;
}
.p1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
}

em {
    font-weight: bold;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nota {
    font-size: 15px;
    font-style: italic;
    color:whitesmoke;
    opacity: 0.4;
    margin-bottom: 10px;
    background-color: darkslategray;
  }

.bold {
    color: lightgreen;
}

/*Personalizar HyperLinks*/
a:link {
    color: darkblue;
    text-decoration: none;
  }
a:visited {
    color: blue;
  }
a:hover {
    text-decoration: underline;
    color: goldenrod;
  }
a:active {
    color: black;
}
/* Margem das listas */
ul, ol {
    margin-bottom: 10px;
    padding-left: 20px;
  }

.number {
    background-color: rgba(128, 0, 128, 0.575);
    font-size: 28px;
    padding-left: 5px;
    padding-right: 5px;

}
.number,.desc {
    font-size: 24px;
    font-style: italic;
}
